<li class="article h-entry">
    <a
        class="article__title u-url u-uid p-name"
        href="{{ article.url }}"
    >{{ article.data.title -}}
    </a>
    <p class="article__published-date dt-published">{{ article.date | friendlyDate }}</p>
</li>
