{% assign author = authors | where: 'slug', slug | first %}
<section class="author-card h-card {% if post %}p-author{% endif %} {% if hide %}hidden{% endif %}">
    <div class="author-picture-container">
        {% assign imageSrc = author.picture | prepend: "./src/assets/img/" %}
        {% assign imageAlt = author.name | append: "'s picture."%}
        {% image imageSrc, imageAlt, "class='author-picture u-photo'" %}
    </div>
    <h1 class="h2 author-name">
        <a href="/" class="p-name u-url">{{ author.name }}</a>
    </h1>
    <p class="p-note">{{ author.introduction }}</p>
    <div class="author-socials">
        {% for social in author.socials %}
        <a
            href="{{social.link}}"
            target="_blank"
            rel="me"
        >{{ social.label }}</a>
        {% endfor %}
    </div>
</section> 
