{% comment %} TODO Include email from the site data file. {% endcomment %}
{% assign permalink = url | absoluteUrl %}
<section class="notice notice--info">
    <p>Comments are not enabled on my site. I encourage you to get in touch over email by using the convenience link below.</p>
    <p><a href="mailto:smix@rusingh.com?subject={{ subject }}&body=Post link: {{ permalink }}">Comment via email</a>.</p>
</section>
