{% comment %}
    TODO Include email from the site data file.
{% endcomment %}
{% assign permalink = url | absoluteUrl %}
{% if feed != true %}
<section class="notice notice--info">
{% endif %}
    <p>Comments are not enabled on my site. I encourage you to get in touch over email by using the following convenience link: <a href="mailto:smix@rusingh.com?subject={{ subject }}&body=Post link: {{ permalink }}">comment via email</a>.</p>
{% if feed != true %}
</section>
{% endif %}
