<footer>
    <p>Bar the fictional photo on the home page, all photos used on this website belong to <a href="https://rusingh.com/">Ru Singh</a>. Usage without permission is prohibited.</p>
    <p>&copy; {% getOwnerInfo 'name' %} 2020–2022</p>
</footer>
