<footer class="text-center">
    <p>All photos used on this website belong to <a href="https://rusingh.com/">Ru Singh</a>. Usage without permission is not allowed.</p>
    <p>&copy; {% getOwnerInfo 'name' %} 2020</p>
</footer>
