<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{site.title}}{% if title %} - {{ title }}{% endif %}</title>

	{% if content-description != "" and content-description != nil %}
		<meta name="Description" content="{{content-description}}">
	{% endif %}
	{% if draft == true %}
        <meta name="robots" content="noindex">
	{% endif %}
	
	<link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Articles by/from Site Name" />

	<link rel="stylesheet" href="/assets/css/style.css">
</head>
