{% capture isOldPost %}
{% isOldPost date %}
{% endcapture %}

{% if isOldPost %}
<p class="notice notice--warn">This post is over a year old! Information may be stale. Please read with caution.</p>
{% endif %}
