<section class="post-photos">
{% for photo in post.data.photo %}
    <img src="/assets/img/{{ photo.src }}" alt="{{ photo.alt }}" class="u-photo">
{% endfor %}
</section>
<div class="p-content">{{ post.templateContent }}</div>
