<li class="post h-entry">
    <a
        class="post__title u-url u-uid p-name"
        href="{{ article.url }}"
    >{{ article.data.title -}}
    </a>
    <p class="post__published-date dt-published">{{ article.date | friendlyDate }}</p>
</li>
