<div class="p-name e-content">
    {{ post.templateContent }}
</div>
<section class="u-in-reply-to h-cite">In reply to <a href="{{ post.data.reply-to }}" class="u-url">{{ post.data.reply-to }}</a>:
    <blockquote class="p-content">
    {{ post.data.reply-context }}
    </blockquote>
</section>
