<section class="post-card-photos">
{% for photo in post.data.photo %}
    {% assign imageSrc = "./src/assets/img/" | append: photo.src %}
    {% image imageSrc, photo.alt, 'class="u-photo"' %}
{% endfor %}
</section>
<div class="p-content">{{ post.templateContent }}</div>
