{
	"singleQuote": false,
	"useTabs": true,
	"tabWidth": 4,
	"overrides": [
		{
			"files": "*.{yaml,yml}",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "*.css",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
