---
layout: default
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
      - posts
permalink: /blog/tag/{{ tag }}/
content-description: Tag-based archive page of blog posts by {{site.authors.owner.name}}
---
<div>
	<header class="mb-5 lg:mb-10">
		<h1 class="my-0">Archive of posts with tag '{{tag}}'</h1>
	</header>
	<main>
		{% assign posts = collections.posts | byTag: tag %}
		{% assign category_name = tag %}
		<ul class="posts">
			{% for post in posts %}
    			{% include post-card post: post %}
			{% endfor %}
		</ul>
	</main>
</div>
