article.post {
  & .post-datetime,
  & .post-tags {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    & * {
      font-size: var(--text-sm);
    }
  }

  & .post-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  & header.post-header {
    margin-bottom: var(--space-3xl);
  }

  & main {
    margin-bottom: var(--space-3xl);
  }
}

@media screen and (--lg) {
  .article {
    & .post-tags {
      align-items: center;
    }
  }
}
