---
layout: default
title: "Articles"
pagination:
  data: collections.articles
  size: 10
  alias: articles
permalink: "/articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
eleventyComputed:
  content-description: "Articles by {% getOwnerInfo 'name' %}"
---
<section>
	{% include page-title title:title %}
	<main>
		<ul class="articles">
			{% for article in articles %}
    			{% include article-card article:article %}
			{% endfor %}
		</ul>
	</main>
</section>
