<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{site.title}}{% if title %} - {{ title }}{% endif %}</title>

	{% if content-description %}
		<meta name="Description" content="{{content-description}}">
	{% endif %}

	<link rel="stylesheet" href="/assets/css/style.css">
</head>