body {
  font-family: var(--sans-fontset);
}

/* Exclusions to margin-bottom. */
a {
  margin-bottom: 0;
}

p,
.p {
  font-family: var(--sans-fontset);
  font-size: var(--text-base);
  font-weight: normal;
}

@media screen and (--dm) {
  * {
    color: var(--gray-400);
  }
}

:--hx {
  font-weight: 500;
  line-height: 1.25;
  color: var(--gray-700);
  margin-top: var(--space-base);
  margin-bottom: var(--space-2xs);
  font-family: var(--serif-fontset);
}

@media screen and (--lg) {
  :--hx {
    margin-top: var(--space-base);
    margin-bottom: var(--space-2xs);
  }
}

@media screen and (--dm) {
  :--hx {
    color: var(--gray-100);
  }
}

@media screen and (--lg) {
  :root {
    --multiplier: 1.3;
  }
}

:--h1 {
  font-size: calc(var(--text-3xl) * var(--multiplier));
}

:--h2 {
  font-size: calc(var(--text-3xl) * var(--multiplier));
}

:--h3 {
  font-size: calc(var(--text-2xl) * var(--multiplier));
}

:--h4 {
  font-size: calc(var(--text-xl) * var(--multiplier));
}

:--h5 {
  font-size: var(--text-xl);
  color: var(--gray-600);
}

@media screen and (--dm) {
  :--h5 {
    color: var(--gray-200);
  }
}

:--h6 {
  font-size: var(--text-lg);
  color: var(--gray-600);
}

@media screen and (--dm) {
  :--h6 {
    color: var(--gray-200);
  }
}

li {
  margin-bottom: var(--space-2xs);
}

ol:not(.unstyled-list) {
  list-style-type: decimal;
  list-style-position: outside;
  margin-inline-start: var(--space-xl);

  & ol:not(.unstyled-list) {
    list-style-type: decimal;
    margin-inline-start: var(--space-xl);
    margin-block-end: 0;

    & li {
      color: var(--gray-700);

      &:first-child {
        margin-top: var(--space-2xs);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

ul:not(.unstyled-list) {
  list-style-type: disc;
  list-style-position: outside;
  margin-inline-start: var(--space-xl);

  & ul:not(.unstyled-list) {
    list-style-type: disc;
    margin-inline-start: var(--space-xl);
    margin-block-end: 0;

    & li {
      color: var(--gray-700);

      &:first-child {
        margin-block-top: var(--space-2xs);
      }

      &:last-child {
        margin-block-end: 0;
      }
    }
  }
}

@media screen and (--dm) {
  ol {
    & ol {
      & li {
        color: var(--gray-100);
      }
    }
  }

  ul {
    & ul {
      & li {
        color: var(--gray-100);
      }
    }
  }
}

a {
  color: var(--pink-700);

  &:focus {
    outline-style: solid;
  }

  &:hover {
    text-decoration-line: underline;
  }
}

@media screen and (--dm) {
  a {
    color: var(--pink-600);
  }
}

hr {
  border-width: 0;
  background-color: var(--gray-800);
  width: 80%;
  height: 1px;
  margin-bottom: var(--space-3xl);
  margin-top: var(--space-3xl);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (--dm) {
  hr {
    background-color: var(--gray-900);
  }
}

blockquote {
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-left-color: var(--gray-700);
  padding-left: var(--space-lg);
  margin-top: var(--space-base);
  margin-bottom: var(--space-lg);
  margin-left: calc(var(--space--xl) * -1);
}

@media screen and (--dm) {
  blockquote {
    border-color: var(--gray-300);
  }
}

pre {
  margin-top: calc(0.5rem * var(--multiplier));
  margin-bottom: calc(0.5rem * var(--multiplier));
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (--dm) {
  img {
    opacity: 0.85;

    &:hover {
      opacity: 1;
    }
  }
}
