<!DOCTYPE html>
<html lang="en" {% if page.url == '/articles/' %}class="h-feed"{% endif %}>
{% render head,
	siteTitle: site.title,
	pageTitle:title,
	content-description:content-description,
	draft:draft,
	cover-image:cover-image,
	config:config,
	pageUrl:page.url,
-%}
<body class="container font-sans dm:bg-black text-gray-900 dm:text-gray-100">

	<div class="body-holder">
	
		{% render header,
			url:page.url, 
			title:site.title,
			subtitle:site.subtitle,
			navigation:navigation
		%}

		<main>{{ content }}</main>

		{% render footer %}

	</div>


	<script src="/assets/js/index.min.js"></script>
</body>
</html>
